<div class="test">
    This is a Chasel Test!!
</div>
<hr>
<ng-container *ngTemplateOutlet="this[currentPanel.name]; context:currentPanel"></ng-container>

<ng-template class="SMT" #SMT let-test="value">
    <p>Template A - {{ test }}</p>

    <!-- <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="table table-responsive smart-table">
                        <ng2-smart-table [settings]="settings" [source]="source" class=""></ng2-smart-table>
                    </div>    
                </div>
            </div>
        </div>
    </div> -->
</ng-template>

<ng-template class="Assy" #Assy let-test="value">
    <p>Template B - {{ test }}</p>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="table table-responsive smart-table">
                        <ng2-smart-table [settings]="settings" [source]="source" class=""></ng2-smart-table>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</ng-template>